<% if (typeof error !== 'undefined') { %>
  <div class="alert alert-danger"><%= error %></div>
<% } %>
<% if (typeof success !== 'undefined') { %>
  <div class="alert alert-success"><%= success %></div>
<% } %>
