
PORT=3000
SESSION_SECRET=super-secret-change-me

DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=shorturl_app

APP_BASE_URL=http://localhost:3000

ADMIN_EMAIL=admin@short.local
ADMIN_PASSWORD=admin123
